.tests {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
 



}

.container {
    text-align: center;
    align-items: center;
    width: 100%;

}

.pp h1 {
    width: 700px;
    padding-top: 120px;
   
   
   
}

.pp {
    width: 100%;
    height: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}


.options {
    width: 200px;
    text-align: center;

}

.options img {
    width: 100%;
    cursor: pointer;
}
@media (max-width:900px){
    .pp h1{
      padding-top:80px;
     width: 250px;
    }
    .tests{
        display: flex;
            justify-content: center;
            flex-direction: column;

    }
  
}